@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Montserrat', sans-serif;
	@apply text-blue-950;
}

button{
	font-family: 'Montserrat', sans-serif;
}

.tippy-box {
 
    @apply rounded-b-xl shadow-lg !important;
}

.fluid-font {
	font-size: clamp(0.625em, 1vw, 1rem);
}

.highlight {
	@apply text-blue-500;
}


