@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Montserrat', sans-serif;
	@apply text-blue-950;
}

button{
	font-family: 'Montserrat', sans-serif;
}

.tippy-box {
	border-radius: 1em !important;
}

.fluid-font {
	font-size: clamp(0.625em, 1vw, 1rem);
}
